.mainDiv {
    background-color: lightgray;
    padding: 1rem 2rem;
}

.mainDiv h2 {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navBar {
    margin: 0rem 2.5rem;
}
.menuList {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 2rem;
}


.logo {
    width: 75px;
    height: auto;
    display: inline-block;
}

.mobMenu {
    display: none;
}
.menuBtn {
    display: none;
}

.sidebarNav {}





.sidebarMenuList {
}

.sidebarMenuList a {
    text-decoration: none;
    color: black;
    margin: 1rem 0;
    padding: 1rem;
}


@media only screen and (max-width: 700px) {
    .mainDiv h2 {
      display: none;
    }
    .navBar {
        display: none;
    }
    .mobMenu {
        display: inline;
        width: 35px;
        height: auto;
        cursor: pointer;
        float: right;
    }
    .menuBtn {
        display: inline;
        width: 35px;
        height: auto;
        cursor: pointer;
        float: right;
    }

  }