.mainDiv {
    background-color: lightgray;
    padding: 1rem 2rem;
}

.mainDiv h2 {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navBar {
    margin: 0rem 2.5rem;
}
.menuList {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 2rem;
}

.menuItem {
    display: inline;
}

.MainNavBar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo {
    width: 75px;
    height: auto;
    display: inline-block;
}